
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


<form action="@Url.Action("login", "Login")">

    <label> Username : <input type="text" name="username" /></label>
    <input type="submit" value="Login" />

</form>
